@model CarbonOffset.Models.Result

@{
    ViewData["Title"] = "Results";
}

<h1>Results for: @Model.TrackingNumber</h1>
<hr />

<div>

    <dl class="row col-md-4 border border-secondary">
        <dt class="col-8">Origin City: </dt>
        <dd class="col-4">Edmonton</dd>

        <dt class="col-8">Destination City: </dt>
        <dd class="col-4">Niggeria</dd>
        
        <dt class="col-8">Distance Package Travelled: </dt>
        <dd class="col-sm-4">@Model.Distance</dd>
        
        <dt class="col-8">Quantified Carbon Damage: </dt>
        <dd class="col-sm-4">@Model.Cost</dd>
    </dl>

    <div id="map" class="col-lg-8 hei" style="height: 400px;">

    </div>
    <script>
        var map = L.map('map', {
                center: [53.64429751217645, -113.56677739354473],
            });
    </script>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
