@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Carbon Offset</h1>
    <p>Carbon Offset offers an easy way to calculate, reduce, and remove your shipment's CO2 emissions!</p>
    <p>Simply enter your shipment's tracking number and we will track your package's carbon footprint.</p> 
    <p>Then you can choose from your local environmental organizations and donate to them to offset your footprint.</p>
</div>
