html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.selectCarrier {
    height: 100%;
    border-color: lightgray;
    border-radius: 3px;
    color: gray;
    width: 150px;
    padding: 0 8px;
}