html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.selectCarrier {
    height: 100%;
    border-color: lightgray;
    border-radius: 3px;
    color: gray;
    width: 150px;
    padding: 0 8px;
}

#title_tnum {
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

#title_tnum .t_num {
    font-size: xx-large;
}

.gradientGtoB {
    background: -webkit-linear-gradient(0deg, #00ff99, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientOtoR {
    background: -webkit-linear-gradient(0deg, #ff6a00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center {
    text-align: center;
}

#arrow {
    width: 100%;
    display: flex;
    justify-content: center;
}
.airline-image {
    width: calc(100% - 100px);
}

.flex-row-center-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.airlineDetails {
    padding: 0px 15px;
}

#carbonMoney {
    font-weight: 700;
    color: green;
}
